body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282a2e;
}

.content {
  text-align: center;
  padding: 20px;
  background-color: black;
}
